@-webkit-keyframes skeleton {
    0% {
        background: #dee2e6;
    }

    to {
        background: #adb5bd;
    }
}

@keyframes skeleton {
    0% {
        background: #dee2e6;
    }

    to {
        background: #adb5bd;
    }
}

@-webkit-keyframes blink-1 {

    0%,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {

    0%,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    to {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

@keyframes progress-422c3u {
    to {
        background-size: 120% 100%;
    }
}

.skeleton {
    -webkit-animation: skeleton .5s linear infinite alternate both;
    animation: skeleton .5s linear infinite alternate both;
}

.blink {
    -webkit-animation: blink-1 1.7s infinite both;
    animation: blink-1 1.7s infinite both;
}

.scale-in-center {
    -webkit-animation: scale-in-center .3s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-center .3s cubic-bezier(.25, .46, .45, .94) both;
}

.spinner {
    width: 32px;
    height: 32px;
    animation: spinner-y0fdc1 2.4s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: rgba(22, 199, 154, .2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 1.6px solid #16c79a;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-16px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(16px);
}

.spinner-progress {
    width: 72px;
    height: 12px;
    -webkit-mask: linear-gradient(90deg, #16c79a 70%, #0000 0) left/20% 100%;
    background: linear-gradient(#16c79a 0 0) left/0% 100%no-repeat #dbdcef;
    animation: progress-422c3u 2.4s infinite steps(6);
}