@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Plus+Jakarta+Sans&family=Roboto+Mono&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("./bootstrap.min.css");
@import url("./responsive.css");
@import url("./animations.css");

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 300;
    src: url(/assets/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

[v-cloak] {
    display: none;
}

:root {
    --primary-0: #0d1b2a;
    --primary-10: #677d95;
    --primary-100: #16C79A;
    --primary-150: #009efd;
    --primary-200: #19456B;
    --primary-300: #11698E;
    --primary-400: #f8f1f1c6;

}

body {
    /* background-color: var(--primary-400) !important; */
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-repeat: no-repeat; */
}

header {
    min-height: 200px;
    /* background-color: var(--primary-400); */
    /* background-image: url(/assets/dots-background.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: -60px;
    /* width: 150px;
    height: 150px; */
}

footer {
    background-color: var(--primary-0);
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */

}


a {
    text-decoration: none;
    color: inherit !important;
}


article>div>blockquote {
    /*roboto text-primary-200 border-start border-4 border-warning ps-2  */
    /* font-size: larger; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: var(--primary-200);
    padding-left: 8px;
    border: none;
    border-left: 4px solid var(--bs-warning);
}

article>div>p {
    color: var(--primary-200);
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* text-align: justify; */

}


article>div>pre {
    background-color: var(--primary-0);
    color: var(--primary-10);
    padding: 1rem;
    /* margin: 1rem; */
    border-radius: 5px;
}


.bg-reels {
    background: rgba(43, 43, 43, 0.75) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.bg-grid {
    background-image: linear-gradient(#ededf6 0.5px, transparent 0.5px), linear-gradient(to right, #ededf6 0.5px, transparent 0.5px);
    background-size: 25px 25px;
    background-color: #ffffff;
}

.bg-white {

    background-color: #ffffff;
}


.bg-glass {
    background: rgba(255, 255, 255, 0.09) !important;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.bg-grad {

    background-color: var(--primary-400) !important;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-repeat: no-repeat;
}

.btn-gradient {
    background-image: linear-gradient(160deg, var(--primary-100) 0%, var(--primary-150) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin-bottom: 0px !important;
}

.bg-grad-mix {
    background-image: linear-gradient(180deg, var(--primary-100) 0%, var(--primary-150) 100%);
}

.border-primary-100 {
    border-color: var(--primary-100) !important;
    border-width: 5px;
    border-style: solid;
}

.border-primary-200 {
    border-color: var(--primary-200) !important;
    border-width: 5px;
    border-style: solid;
}

.border-primary-300 {
    border-color: var(--primary-300) !important;
    border-width: 5px;
    border-style: solid;
}

nav>a {
    text-decoration: none;
    color: inherit;
}

.text-justify {
    text-align: justify;
}

.text-primary-10 {
    color: var(--primary-10) !important;
}

.text-primary-100 {
    color: var(--primary-100) !important;
}

.text-primary-150 {
    color: var(--primary-150) !important;
}

.text-primary-200 {
    color: var(--primary-200) !important;
}

.text-primary-300 {
    color: var(--primary-300) !important;
}

.text-primary-400 {
    color: var(--primary-400);
}

.bg-primary-100 {
    background-color: var(--primary-100);
}

.bg-primary-150 {
    background-color: var(--primary-150);
}

.bg-primary-200 {
    background-color: var(--primary-200);
}

.bg-primary-300 {
    background-color: var(--primary-300);
}

.bg-primary-400 {
    background-color: var(--primary-400);
}


.bg-square {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221000%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3C%2Fmask%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72%22 stroke-width=%22.6%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h67v67H0zM67 0h67v67H67z%22%2F%3E%3Cpath fill=%22%234c4e725d%22 d=%22M134 0h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M201 0h67v67h-67zM268 0h67v67h-67zM335 0h67v67h-67zM402 0h67v67h-67zM469 0h67v67h-67zM536 0h67v67h-67zM603 0h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7252%22 d=%22M670 0h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7214%22 d=%22M737 0h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M804 0h67v67h-67zM871 0h67v67h-67zM938 0h67v67h-67zM1005 0h67v67h-67zM1072 0h67v67h-67zM1139 0h67v67h-67zM1206 0h67v67h-67zM1273 0h67v67h-67zM1340 0h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e723a%22 d=%22M1407 0h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7260%22 d=%22M1474 0h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1541 0h67v67h-67zM1608 0h67v67h-67zM1675 0h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7256%22 d=%22M1742 0h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1809 0h67v67h-67zM1876 0h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e725f%22 d=%22M1943 0h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 67h67v67H0zM67 67h67v67H67zM134 67h67v67h-67zM201 67h67v67h-67zM268 67h67v67h-67zM335 67h67v67h-67zM402 67h67v67h-67zM469 67h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7281%22 d=%22M536 67h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M603 67h67v67h-67zM670 67h67v67h-67zM737 67h67v67h-67zM804 67h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d2%22 d=%22M871 67h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e724b%22 d=%22M938 67h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7233%22 d=%22M1005 67h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72ea%22 d=%22M1072 67h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1139 67h67v67h-67zM1206 67h67v67h-67zM1273 67h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7202%22 d=%22M1340 67h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1407 67h67v67h-67zM1474 67h67v67h-67zM1541 67h67v67h-67zM1608 67h67v67h-67zM1675 67h67v67h-67zM1742 67h67v67h-67zM1809 67h67v67h-67zM1876 67h67v67h-67zM1943 67h67v67h-67zM0 134h67v67H0z%22%2F%3E%3Cpath fill=%22%234c4e72fc%22 d=%22M67 134h67v67H67z%22%2F%3E%3Cpath fill=%22%234c4e7252%22 d=%22M134 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7242%22 d=%22M201 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e721e%22 d=%22M268 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7250%22 d=%22M335 134h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M402 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e729f%22 d=%22M469 134h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M536 134h67v67h-67zM603 134h67v67h-67zM670 134h67v67h-67zM737 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e722d%22 d=%22M804 134h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M871 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e720a%22 d=%22M938 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72a8%22 d=%22M1005 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72fb%22 d=%22M1072 134h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1139 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7213%22 d=%22M1206 134h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1273 134h67v67h-67zM1340 134h67v67h-67zM1407 134h67v67h-67zM1474 134h67v67h-67zM1541 134h67v67h-67zM1608 134h67v67h-67zM1675 134h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e720c%22 d=%22M1742 134h67v67h-67zM1809 134h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1876 134h67v67h-67zM1943 134h67v67h-67zM0 201h67v67H0zM67 201h67v67H67z%22%2F%3E%3Cpath fill=%22%234c4e723b%22 d=%22M134 201h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M201 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d6%22 d=%22M268 201h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M335 201h67v67h-67zM402 201h67v67h-67zM469 201h67v67h-67zM536 201h67v67h-67zM603 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7255%22 d=%22M670 201h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M737 201h67v67h-67zM804 201h67v67h-67zM871 201h67v67h-67zM938 201h67v67h-67zM1005 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7224%22 d=%22M1072 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7242%22 d=%22M1139 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7245%22 d=%22M1206 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e720d%22 d=%22M1273 201h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1340 201h67v67h-67zM1407 201h67v67h-67zM1474 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7266%22 d=%22M1541 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7220%22 d=%22M1608 201h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1675 201h67v67h-67zM1742 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e724e%22 d=%22M1809 201h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1876 201h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7229%22 d=%22M1943 201h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 268h67v67H0zM67 268h67v67H67z%22%2F%3E%3Cpath fill=%22%234c4e72e3%22 d=%22M134 268h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M201 268h67v67h-67zM268 268h67v67h-67zM335 268h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e720b%22 d=%22M402 268h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M469 268h67v67h-67zM536 268h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e721f%22 d=%22M603 268h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M670 268h67v67h-67zM737 268h67v67h-67zM804 268h67v67h-67zM871 268h67v67h-67zM938 268h67v67h-67zM1005 268h67v67h-67zM1072 268h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7217%22 d=%22M1139 268h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7210%22 d=%22M1206 268h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1273 268h67v67h-67zM1340 268h67v67h-67zM1407 268h67v67h-67zM1474 268h67v67h-67zM1541 268h67v67h-67zM1608 268h67v67h-67zM1675 268h67v67h-67zM1742 268h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7289%22 d=%22M1809 268h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e726e%22 d=%22M1876 268h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1943 268h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7240%22 d=%22M0 335h67v67H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M67 335h67v67H67zM134 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72f3%22 d=%22M201 335h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M268 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e727c%22 d=%22M335 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e728b%22 d=%22M402 335h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M469 335h67v67h-67zM536 335h67v67h-67zM603 335h67v67h-67zM670 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7207%22 d=%22M737 335h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M804 335h67v67h-67zM871 335h67v67h-67zM938 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7269%22 d=%22M1005 335h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1072 335h67v67h-67zM1139 335h67v67h-67zM1206 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7254%22 d=%22M1273 335h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1340 335h67v67h-67zM1407 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72b6%22 d=%22M1474 335h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1541 335h67v67h-67zM1608 335h67v67h-67zM1675 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7229%22 d=%22M1742 335h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1809 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e724d%22 d=%22M1876 335h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e720f%22 d=%22M1943 335h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 402h67v67H0zM67 402h67v67H67zM134 402h67v67h-67zM201 402h67v67h-67zM268 402h67v67h-67zM335 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7279%22 d=%22M402 402h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M469 402h67v67h-67zM536 402h67v67h-67zM603 402h67v67h-67zM670 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72e2%22 d=%22M737 402h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M804 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7295%22 d=%22M871 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7201%22 d=%22M938 402h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1005 402h67v67h-67zM1072 402h67v67h-67zM1139 402h67v67h-67zM1206 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72ce%22 d=%22M1273 402h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1340 402h67v67h-67zM1407 402h67v67h-67zM1474 402h67v67h-67zM1541 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7229%22 d=%22M1608 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72e3%22 d=%22M1675 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72de%22 d=%22M1742 402h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1809 402h67v67h-67zM1876 402h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7232%22 d=%22M1943 402h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 469h67v67H0zM67 469h67v67H67zM134 469h67v67h-67zM201 469h67v67h-67zM268 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d4%22 d=%22M335 469h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M402 469h67v67h-67zM469 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e722c%22 d=%22M536 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7210%22 d=%22M603 469h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M670 469h67v67h-67zM737 469h67v67h-67zM804 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7282%22 d=%22M871 469h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M938 469h67v67h-67zM1005 469h67v67h-67zM1072 469h67v67h-67zM1139 469h67v67h-67zM1206 469h67v67h-67zM1273 469h67v67h-67zM1340 469h67v67h-67zM1407 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72cc%22 d=%22M1474 469h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1541 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72e5%22 d=%22M1608 469h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1675 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72e2%22 d=%22M1742 469h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1809 469h67v67h-67zM1876 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e728b%22 d=%22M1943 469h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72b4%22 d=%22M0 536h67v67H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M67 536h67v67H67z%22%2F%3E%3Cpath fill=%22%234c4e7286%22 d=%22M134 536h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M201 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7203%22 d=%22M268 536h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M335 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72a1%22 d=%22M402 536h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M469 536h67v67h-67zM536 536h67v67h-67zM603 536h67v67h-67zM670 536h67v67h-67zM737 536h67v67h-67zM804 536h67v67h-67zM871 536h67v67h-67zM938 536h67v67h-67zM1005 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e726e%22 d=%22M1072 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72c1%22 d=%22M1139 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d8%22 d=%22M1206 536h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1273 536h67v67h-67zM1340 536h67v67h-67zM1407 536h67v67h-67zM1474 536h67v67h-67zM1541 536h67v67h-67zM1608 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72cd%22 d=%22M1675 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72e2%22 d=%22M1742 536h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1809 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d4%22 d=%22M1876 536h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7295%22 d=%22M1943 536h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 603h67v67H0zM67 603h67v67H67zM134 603h67v67h-67zM201 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72ac%22 d=%22M268 603h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M335 603h67v67h-67zM402 603h67v67h-67zM469 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7205%22 d=%22M536 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7219%22 d=%22M603 603h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M670 603h67v67h-67zM737 603h67v67h-67zM804 603h67v67h-67zM871 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e724a%22 d=%22M938 603h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1005 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72a5%22 d=%22M1072 603h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1139 603h67v67h-67zM1206 603h67v67h-67zM1273 603h67v67h-67zM1340 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72f1%22 d=%22M1407 603h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1474 603h67v67h-67zM1541 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7227%22 d=%22M1608 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7288%22 d=%22M1675 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72b0%22 d=%22M1742 603h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1809 603h67v67h-67zM1876 603h67v67h-67zM1943 603h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7221%22 d=%22M0 670h67v67H0z%22%2F%3E%3Cpath fill=%22%234c4e72cd%22 d=%22M67 670h67v67H67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M134 670h67v67h-67zM201 670h67v67h-67zM268 670h67v67h-67zM335 670h67v67h-67zM402 670h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d1%22 d=%22M469 670h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M536 670h67v67h-67zM603 670h67v67h-67zM670 670h67v67h-67zM737 670h67v67h-67zM804 670h67v67h-67zM871 670h67v67h-67zM938 670h67v67h-67zM1005 670h67v67h-67zM1072 670h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72a8%22 d=%22M1139 670h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1206 670h67v67h-67zM1273 670h67v67h-67zM1340 670h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d0%22 d=%22M1407 670h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1474 670h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7215%22 d=%22M1541 670h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1608 670h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d4%22 d=%22M1675 670h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1742 670h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72a4%22 d=%22M1809 670h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1876 670h67v67h-67zM1943 670h67v67h-67zM0 737h67v67H0zM67 737h67v67H67zM134 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7269%22 d=%22M201 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7226%22 d=%22M268 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e724f%22 d=%22M335 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7235%22 d=%22M402 737h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M469 737h67v67h-67zM536 737h67v67h-67zM603 737h67v67h-67zM670 737h67v67h-67zM737 737h67v67h-67zM804 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d8%22 d=%22M871 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e720e%22 d=%22M938 737h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1005 737h67v67h-67zM1072 737h67v67h-67zM1139 737h67v67h-67zM1206 737h67v67h-67zM1273 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72be%22 d=%22M1340 737h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1407 737h67v67h-67zM1474 737h67v67h-67zM1541 737h67v67h-67zM1608 737h67v67h-67zM1675 737h67v67h-67zM1742 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7224%22 d=%22M1809 737h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1876 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72cc%22 d=%22M1943 737h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72d8%22 d=%22M0 804h67v67H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M67 804h67v67H67zM134 804h67v67h-67zM201 804h67v67h-67zM268 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7216%22 d=%22M335 804h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M402 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72f1%22 d=%22M469 804h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M536 804h67v67h-67zM603 804h67v67h-67zM670 804h67v67h-67zM737 804h67v67h-67zM804 804h67v67h-67zM871 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e728c%22 d=%22M938 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7206%22 d=%22M1005 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e722f%22 d=%22M1072 804h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1139 804h67v67h-67zM1206 804h67v67h-67zM1273 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7245%22 d=%22M1340 804h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1407 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72b2%22 d=%22M1474 804h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1541 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7255%22 d=%22M1608 804h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1675 804h67v67h-67zM1742 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72c0%22 d=%22M1809 804h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7213%22 d=%22M1876 804h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1943 804h67v67h-67zM0 871h67v67H0zM67 871h67v67H67z%22%2F%3E%3Cpath fill=%22%234c4e72a9%22 d=%22M134 871h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M201 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7232%22 d=%22M268 871h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M335 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72df%22 d=%22M402 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72da%22 d=%22M469 871h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M536 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7222%22 d=%22M603 871h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M670 871h67v67h-67zM737 871h67v67h-67zM804 871h67v67h-67zM871 871h67v67h-67zM938 871h67v67h-67zM1005 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e725a%22 d=%22M1072 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7203%22 d=%22M1139 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7208%22 d=%22M1206 871h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1273 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72ab%22 d=%22M1340 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72f0%22 d=%22M1407 871h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1474 871h67v67h-67zM1541 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7254%22 d=%22M1608 871h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e72c5%22 d=%22M1675 871h67v67h-67zM1742 871h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1809 871h67v67h-67zM1876 871h67v67h-67zM1943 871h67v67h-67zM0 938h67v67H0zM67 938h67v67H67z%22%2F%3E%3Cpath fill=%22%234c4e7239%22 d=%22M134 938h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7266%22 d=%22M201 938h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M268 938h67v67h-67zM335 938h67v67h-67zM402 938h67v67h-67zM469 938h67v67h-67zM536 938h67v67h-67zM603 938h67v67h-67zM670 938h67v67h-67zM737 938h67v67h-67zM804 938h67v67h-67zM871 938h67v67h-67zM938 938h67v67h-67zM1005 938h67v67h-67zM1072 938h67v67h-67zM1139 938h67v67h-67zM1206 938h67v67h-67zM1273 938h67v67h-67zM1340 938h67v67h-67zM1407 938h67v67h-67z%22%2F%3E%3Cpath fill=%22%234c4e7260%22 d=%22M1474 938h67v67h-67z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1541 938h67v67h-67zM1608 938h67v67h-67zM1675 938h67v67h-67zM1742 938h67v67h-67zM1809 938h67v67h-67zM1876 938h67v67h-67zM1943 938h67v67h-67z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.btn-retro {
    padding: .2rem .5rem;
    border: 1px solid grey;
    font-size: small;
    border-radius: .2rem;
    background-color: aliceblue;

}

.sans {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.bungee {
    font-family: 'Bungee', cursive;
}

.roboto {
    font-family: 'Roboto Mono', monospace;
}

.fs-small {
    font-size: small !important;
}

.fs-smaller {
    font-size: smaller !important;
}

.fs-x-small {
    font-size: x-small !important;
}

.fs-xx-small {
    font-size: xx-small !important;
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.pointer {
    cursor: pointer;
}


.text-fade {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    position: relative;
}

.text-fade-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    position: relative;
}

.text-fade-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    position: relative;
}

.text-fade-4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    position: relative;
}

.text-fade-5 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    position: relative;
}

.text-fade-6 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    position: relative;
}

.text-fade-7 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    position: relative;
}

.hot-link {
    text-decoration: underline !important;
    text-decoration-color: #16C79A !important;
    text-decoration-thickness: 2px !important;
}

.link-border {
    border: .5px solid var(--primary-100);
}

.link-border-dashed {
    border: 1px dashed var(--primary-200);
}

.w-fit {
    width: fit-content;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.underline-sticker {

    position: absolute;
    top: 0px;
    left: 50%;

    z-index: 0;
    transform: scale(1.5);
}

.text-blockquote {

    color: var(--primary-200);
    padding-left: 8px;
    border: none;
    border-left: 4px solid var(--bs-warning);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}