<footer class="py-5 mt-5">
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                
                <nav class="d-flex justify-content-evenly gap-3 fs-4 text-primary-400">
                    <a aria-label="stack overflow" href="http://stack-overflow.mashoun.com"><i class="bi bi-stack-overflow"></i></a>
                    <a aria-label="email" href="mailto:info@mashoun.com"><i class="bi bi-envelope"></i></a>
                    <a aria-label="youtube" href="http://playlist.mashoun.com"><i class="bi bi-youtube"></i></a>
                    <a aria-label="linkedin" href="http://in.mashoun.com"><i class="bi bi-linkedin"></i></a>
                    <a aria-label="github" href="http://git.mashoun.com"><i class="bi bi-github"></i></a>
                </nav>
            </div>
        </div>
        <hr class="text-light my-4">
        
        <div class="position-relative">
            <p class="text-center text-primary-100 opacity-75 roboto fs-smaller m-0">Developed by Mahmoud Mashoun</p>
            <img src="/assets/underline.png" alt="sticker" class="object-fit-cover underline-sticker translate-middle-x" width="120">
        </div>

    </section>
</footer>