<footer>
    <section class="container py-3" style="overflow-x: hidden !important;">
      <div class="row g-3 justify-content-between">
        <div class="col-12 col-lg-6">
          <aside class="text-light d-flex flex-column gap-3 pt-5">
            <div class="sans">
              <h5 class="fs-5">Mahmoud Mashoun</h5>
              <p class="text-secondary fs-smaller mono text-fade2 ls-1">Google Workspace Automation Expert, FullStack Web Developer & GDG Orgainser.</p>
            </div>
            <nav class="d-flex flex-column roboto">
                <a href="/" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">Home Page</span>
                </a>
                <a href="https://gdg.community.dev/gdg-coast-lebanon/" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">About me</span>
                </a>
                <a href="https://policies.google.com/terms" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">My Solutions</span>
                </a>
                <a href="https://developers.google.com/community/devfest" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">My Tutorials</span>
                </a>
                <a href="https://policies.google.com/privacy" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">My Blogs</span>
                </a>
            </nav>
          </aside>
        </div>
        <div class="col-12 col-lg-3">
          <aside class="text-light d-flex flex-column gap-3 pt-5">
            <div class="sans">
              <h5 class="fs-5">Contact</h5>
              <p class="text-secondary fs-smaller mono text-fade2">Discover the heart of our community through our diverse range of programs.</p>
            </div>
            <nav class="d-flex flex-column roboto">
                <a href="https://developers.google.com/community/gdg" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">Schedule a meeting</span>
                </a>
                <a href="https://developers.google.com/womentechmakers" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">Subscribe</span>
                </a>
                <a href="https://developers.google.com/community/experts" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">Send anonymous message</span>
                </a>
                <a href="https://developers.google.com/community/gdsc" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">Terms & Conditions</span>
                </a>
                <a href="https://developers.google.com/community/accelerators" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">Privacy Policy</span>
                </a>
            </nav>
          </aside>
        </div>
        <div class="col-12 col-lg-3">
          <aside class="text-light d-flex flex-column gap-3 pt-5">
            <div class="sans">
              <h5 class="fs-5">Check also</h5>
              <p class="mono text-secondary fs-smaller text-fade2">Navigate the tech landscape seamlessly with our curated list of useful links.</p>
            </div>
            <nav class="d-flex flex-column roboto">
                <a href="https://bit.ly/agenda-t" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">DevFest_2023 Agenda</span>
                </a>
                <a href="https://gdg.community.dev/gdg-north-lebanon/" class="d-flex align-items-center gap-2">
                    <span class="material-symbols-outlined text-primary-100">link</span><span class="opacity-75">Join to be an official member </span>
                </a>
            </nav>
          </aside>
        </div>
      </div>
      <hr class="container my-4 text-light">
      <div class="row g-3 justify-content-between pb-5">
        <div class="col-12 col-md-6 col-lg-4">
          <h5 class="text-light sans text-center text-md-start">Connect with me</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <nav class="d-flex gap-3 justify-content-center justify-content-md-end text-light fs-5"><a href="https://chat.whatsapp.com/LvyEafGdDV16bH41u3YsRP"><i class="bi bi-whatsapp"></i></a><a href="mailto:info@gdglebanon.com"><i class="bi bi-envelope"></i></a><a href="https://instagram.com/gdgcoastlebanon?igshid=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a><a href="https://instagram.com/gdgcoastlebanon?igshid=MzRlODBiNWFlZA=="><i class="bi bi-twitter"></i></a><a><i class="bi bi-linkedin"></i></a><a href="https://instagram.com/gdgcoastlebanon?igshid=MzRlODBiNWFlZA=="><i class="bi bi-youtube"></i></a></nav>
        </div>
      </div>
    </section>
</footer>