<section class="position-fixed z-3 top-0 start-0 bg-grid bg-reels d-flex justify-content-center align-items-center" style="width: 100vw;height: 100vh;" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">

                <div v-if="store.reels[0].id == ''" class="d-flex flex-column gap-5 justify-content-center align-items-center">
                    <div class="spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="d-flex justify-content-center my-5 text-light" @click="store.showReels = false" role="button" title="close">close</div>

                </div>
                <aside v-else class="p-1 p-lg-5 scale-in-center">
                    <swiper-container pagination-type="progressbar" effect="cube" navigation="true" :autoplay="{delay:2500}">
                        <swiper-slide v-for="node in store.reels">
                            <div class="ratio ratio-1x1"><img :src="node.src" alt="story-img" class="object-fit-cover skeleton rounded"></div>
                        </swiper-slide>
                    </swiper-container>
                    <div class="d-flex justify-content-center my-5" @click="store.showReels = false" role="button" title="close"><i class="bi bi-x-lg text-light"></i></div>
                </aside>
            </div>
        </div>
    </div>
</section>