<section class="container">
    <div class="row g-3">
        <div class="col-12">
            <aside class="input-group">
                <input v-model="searchInput" type="text" class="form-control" placeholder="Search for a page">
                
                <span class="input-group-text">
                    <i class="bi bi-search fs-5"></i>
                </span>
                <span class="input-group-text">
                    <i class="bi bi-file-earmark-plus fs-5"></i>
                </span>
            </aside>
        </div>
        <div class="col-12 col-lg-4" v-for="page in filteredPages">
            
            <aside class="p-2 bg-light rounded shadow-sm d-flex flex-column gap-3">
                <div class="ratio ratio-16x9"><img :src="page.thumbnails" :alt="page.title" class="object-fit-cover rounded skeleton shadow-sm"></div>
                
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="sans text-secondary text-fade fs-x-small fw-bold">
                            <span class="px-2 py-1 bg-danger rounded text-light ls-1 me-2">{{page.badge}}</span>
                            <time>{{utilities.timo(page.timestamp)}}</time>
                        </p>
                        <div class="d-flex gap-2">
                            <span class="material-symbols-outlined text-secondary" data-bs-toggle="dropdown" role="button" aria-label="options">more_vert</span>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" role="button"><router-link :to="`/update-page/${page.folder}/${page.id}`">Update this page</router-link></li>
                                <li class="dropdown-item" role="button">Delete this page</li>
                            </ul>
                        </div>
                    </div>
                    <h6 class="roboto fw-bold text-primary-200">{{page.title}}</h6>
                    <p class="sans fs-small text-secondary text-justify">{{page.description}}</p>
                </div>
            </aside>
        </div>
    </div>

</section>